body{
	font-family: Lato, "Verdana" !important;
	font-size: 0.9em;
	padding-top: 65px;
}

#container.row{
	margin: 0 10px;
}

table .row p.span8{
    margin-left: 0px;
}

table .row p span.title{
    font-size: 18px;
    margin-right: 10px;
}

table .row p span.label{
    font-size: 14px;
    font-weight: normal;
    padding: 2px 5px;
    margin-left: 5px;
}