<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th class="sorteable" to-sort="titulo">
				Titulo
			</th>
			<th class="sorteable" to-sort="editorial">
				Editorial
			</th>
			<th class="sorteable" to-sort="pais">
				Pais
			</th>
			<th>
				Editar
			</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
		<tr {{ data 'value'}}>
			<td>
				{{id}}
			</td>
			<td>
				{{title}}
			</td>
			<td>
				{{editorial.name}}
			</td>
			<td>
				{{pais.name}}
			</td>
			<td class="action text-center">
				<span class="btn btn-primary btn-sm">
					<i class="fa fa-pencil"></i>
				</span>
				<span class="btn btn-danger btn-sm">
					<i class="fa fa-times"></i>
				</span>
			</td>
		</tr>
		{{/items}}
	</tbody>
</table>