<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th class="sorteable" to-sort="name">
				Nombre
			</th>
			<th class="sorteable" to-sort="lastName">
				Apellido
			</th>
			<th class="sorteable" to-sort="numberMember">
				# Socio
			</th>
			<th>
				Editar
			</th>
		</tr>
	</thead>
	<tbody>
		{{#items}}
		<tr {{data 'value'}}>
			<td>
				{{id}}
			</td>
			<td>
				{{name}}
			</td>
			<td>
				{{lastName}}
			</td>
			<td>
				{{numberMember}}
			</td>
			<td class="action text-center">
				<i class="text-info fa fa-pencil"></i>
				<i class="text-danger fa fa-times"></i>
			</td>
		</tr>
		{{/items}}
	</tbody>
</table>